@{
    ViewBag.Title = "Error";
}

<h3>
    <img src="../../Content/Images/error.png" alt="error" style="width:100px;height:100px;" />
    Please do not leave the fields empty. Fill all the the given data of the employee and then click the button Create!
</h3>
<div>
    @Html.ActionLink("Back", "CreateEmployee")
</div>

