@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">This system helps to maintain the details of employees working in the orgainization. Helps to manage the details of the employees, add a new employee, see and edit the existing ones.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <img src="../../Content/Images/employees1.jpg" alt="Employees" style="width:355px;height:250px;" />
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="../../Content/Images/employees2.jpg" alt="Employees" style="width:355px;height:250px;" />
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="../../Content/Images/employees3.jpg" alt="Employees" style="width:355px;height:250px;" />
        </p>
    </div>
</div>